@font-face {
    font-family: 'als_rublregular';
    src: url('/css/fonts/rouble-webfont.eot');
    src: url('/css/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/rouble-webfont.woff') format('woff'),
         url('/css/fonts/rouble-webfont.ttf') format('truetype'),
         url('/css/fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {margin:0px; padding:0px;}
html {
    position: relative;
    height: 100%;
    min-height: 100%; 
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #50e3c2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    line-height: 1.3em;
    height: 100%; 
    position: relative;
}

.login{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    margin-top: -200px;
    margin-left: -250px;
}

input::-webkit-input-placeholder{color:rgba(255,255,255,0.5) !important;}
input::-moz-placeholder{color:rgba(255,255,255,0.5) !important;}
input:-moz-placeholder{color:rgba(255,255,255,0.5) !important;}
input:-ms-input-placeholder{color:rgba(255,255,255,0.5) !important;}

.form-group{margin-bottom: 15px;}
.form-control{
    outline: none !important;
    border: none;
    border-bottom: white 2px solid;
    background: transparent;
    opacity: 0.5;
    color: white;
    font-size: 38px;
    padding: 20px 10px 20px 0px;
    width: 100%;
    box-shadow: none !important;
    border-radius: 0px;
    height: 96px;
}
.form-control:focus,
.form-control:active,
.form-control:hover{
    opacity: 1;
    border-color: white;
}

.form-button{
    margin-top: 107px;
    text-align: center;
}
.btn{
    background: transparent;
    color: white !important;
    font-size: 38px;
    border: none;
    outline: none !important;
    cursor: pointer;
    box-shadow: none !important;
}
